*.DS_Store
service/raml/*
/.idea
service/.idea/
*.iml
target/
*.class
**/target
**/*.iml
promo-services/metrics
promo-services/logs
metrics/
logs/
.lastGoodConfigs
promo-services/.lastGoodConfigs
service/src/main/resources/rebel-remote.xml
service/src/main/resources/rebel.xml
.terraform/
.terragrunt-cache
